<h1>Bienvenido a Cronos Quest</h1>
<p>Suena cancion de Dragon Quest.</p>
<!--contro, source, mute, se necesita mp3 ogg o wav 📯-->
<!--<audio src="https://www.youtube.com/watch?v=waH3uNlwMo4&list=RDwaH3uNlwMo4&start_radio=1" autoplay loop></audio>-->

<div class="avatar-container text-center">
    <img id="sprite"
         class="Avatar"
         style="image-rendering: pixelated; width: 128px;">
</div>

<script>
    const framePath = "${nuevaRuta}/${animacion}/${i}.png";
</script>