/* Variables del figma */
:root {
    --Midnight: #30011E;
    --DarkTeal: #0B3948;
    --PacificBlue: #5AB1BB;
    --BarbiePink: #FA198B;
    --Wisteria: #BF9ACA;
}

body {
    background-color: #f8f9fa;
    /* Espacio para que las barras fijas no tapen el contenido */
    padding-top: 70px;
    padding-bottom: 90px;
}

/* Navbar estilo RPG */
.custom-nav {
    background-color: var(--Midnight) !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Barra inferior móvil */
.bottom-nav {
    background-color: var(--Midnight) !important;
    height: 80px;
    border-radius: 20px 20px 0 0;
    padding: 0;
}

.nav-item-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;
}

.nav-item-mobile i {
    font-size: 1.5rem;
}

.nav-item-mobile.active {
    color: var(--PacificBlue) !important;
    background: var(--Wisteria) !important;
    border-radius: 12px;
    padding: 5px 10px;
}

/* Estilo para escritorio, quitar los espacios inferiores */
@media (min-width: 768px) {
    body {
        padding-bottom: 20px;
        padding-top: 0px;
    }
}